.input-wrapper {
  flex-direction: column;
  gap: 1.2rem;

  width: 100%;
}

label {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}

input,
textarea {
  border: 0.2rem solid var(--BLUE);
  background-color: var(--BLACK-900);
  border-radius: 0.5rem;
  padding: 2.2rem 1.4rem;
  outline: none;

  font-size: 1.4rem;
}

input:valid,
input:invalid {
  background-color: var(--BLACK-900);
  height: 3.2rem;
}

input:invalid {
  border-color: rgb(202, 40, 75);
}
